<a href="https://colab.research.google.com/github/Jhow3D/ASIMOV---PANDAS-/blob/main/Aula2_S%C3%A9ries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
# Entendendo séries: 
  # Criando variáveis com informações para criação de uma Série:
labels = ['a','b','c']

minha_lista = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10,'b':20,'c':30}

In [ ]:
# Criando uma Série com a variável (labels):

pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [ ]:
# Criando e definindo uma Série com as variáveis (labels) e (minha_lista)
  # index = posição da linha e data = a informação que está na linha.
  
pd.Series(data=labels, index=minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
# Mesma coisa que cima só que sem indicar "data" e "index":

pd.Series(labels,minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
# Criando Série com diciónario (d)
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
# Criando uma Série de forma direta posicionando o "data " e "index":

ser1 = pd.Series([1,2,3,4], index = ['EUA','Alemanha','Russia','Japão'])

In [ ]:
# Visualizando a Série:

ser1

EUA         1
Alemanha    2
Russia      3
Japão       4
dtype: int64

In [ ]:
# Criando uma Série de forma direta:

ser2 = pd.Series([1,2,5,4], index = ['EUA','Alemanha','Italia','Japão'])

In [ ]:
ser2

EUA         1
Alemanha    2
Italia      5
Japão       4
dtype: int64

In [ ]:
# Visualizando uma série com dois filtros:

ser1[['Alemanha','Russia']]

Alemanha    2
Russia      3
dtype: int64

In [ ]:
# Juntando duas séries, caso tenha algum indice diferente eles retornam NaN:

ser1 + ser2

Alemanha    4.0
EUA         2.0
Italia      NaN
Japão       8.0
Russia      NaN
dtype: float64