<a href="https://colab.research.google.com/github/Jhow3D/ASIMOV---PANDAS-/blob/main/Aula3_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DATAFRAME 

import pandas as pd 
import numpy as np 

from numpy.random import randn

In [ ]:
# CRIANDO UM DATAFRAME RANDOMICO: 

df = pd.DataFrame(randn(5,4), index = ["A","B","C","D","E"], columns = "W X Y Z".split())

In [ ]:
df

          W         X         Y         Z
A -0.798222  0.801934  0.000287 -0.076487
B  0.296435 -1.578101  1.023759 -0.964738
C  0.002392 -1.130841 -1.947306  0.898851
D  2.682081 -3.041018 -1.625768  2.275902
E  0.420260  1.429622 -0.711393  1.765229

In [ ]:
# CONSULTAR TIPO: 

type(df)

pandas.core.frame.DataFrame

In [ ]:
# SELECIONANDO INFORMAÇÕES NO DATAFRAME NA FORMA DE SERIES: 

df['W']

A   -0.798222
B    0.296435
C    0.002392
D    2.682081
E    0.420260
Name: W, dtype: float64

In [ ]:
# SELECIONANDO INFORMAÇÕES NO DATAFRAME: 

df[["W"]]

          W
A -0.798222
B  0.296435
C  0.002392
D  2.682081
E  0.420260

In [ ]:
# CRIANDO COLUNA COM REFERENCIA A UMA COLUNA JA EXISTENTE: 

df['new'] = df['W']

In [ ]:
df

          W         X         Y         Z       new
A -0.798222  0.801934  0.000287 -0.076487 -0.798222
B  0.296435 -1.578101  1.023759 -0.964738  0.296435
C  0.002392 -1.130841 -1.947306  0.898851  0.002392
D  2.682081 -3.041018 -1.625768  2.275902  2.682081
E  0.420260  1.429622 -0.711393  1.765229  0.420260

In [ ]:
# CRIANDO COLUNA COM BASE EM UMA OPERAÇÃO MATÉMATICA: 

df["new"] = df['W'] + df['X']

In [ ]:
df

          W         X         Y         Z       new
A -0.798222  0.801934  0.000287 -0.076487  0.003712
B  0.296435 -1.578101  1.023759 -0.964738 -1.281667
C  0.002392 -1.130841 -1.947306  0.898851 -1.128449
D  2.682081 -3.041018 -1.625768  2.275902 -0.358937
E  0.420260  1.429622 -0.711393  1.765229  1.849882

In [ ]:
# REMOVENDO COLUNAS: 
df.drop('new', axis = 1, inplace = True)

In [ ]:
df

          W         X         Y         Z
A -0.798222  0.801934  0.000287 -0.076487
B  0.296435 -1.578101  1.023759 -0.964738
C  0.002392 -1.130841 -1.947306  0.898851
D  2.682081 -3.041018 -1.625768  2.275902
E  0.420260  1.429622 -0.711393  1.765229

In [ ]:
# SELECIONANDO LINHAS COM O LOC (SÓ USANDO O INDICE DA LINHA): 

df.loc[['A']]

          W         X         Y         Z
A -0.798222  0.801934  0.000287 -0.076487

In [ ]:
# SELECIONANDO LINHAS COM O ILOC (PRECISA DO INDICE E COLUNA):

df.iloc[0,0]

-0.7982221416488046